
*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
}

.MainContent{
  background-color:#deeaee;
  /* display: none; */
}

.body{
  max-width:960px;
  height:100vh;
  display:flex;
  color:#fff;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.firstRow{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.firstRow video{
  min-height:100%;
  min-width:100%;
}

.SecondRow{
  /* padding-top: 25px;
  padding-bottom: 25px; */
  /* display: block; */
  /* background-image: radial-gradient(farthest-corner at 0% 0%,#800020, rgb(172, 67, 67),black); */
  /* border-bottom: 3px solid;
  border-top: 3px solid; */
  /* box-shadow: 5px 10px #888888; */
  font-size:1.5rem;
  font-weight:normal;
  line-height:1.5;
}

#SecondRowTitle, #thirdRowTitle{
  z-index: 2;
color: beige;
}

#second, #third{
box-sizing: content-box;
/* text-align: justify; */
color: whitesmoke;
/* margin: 15px;
padding: 15px; */
border-radius: 15px;
background: #333;
opacity: 0.6;
}

#third > a:hover{
color: beige;
text-decoration: underline;
}

.projectElement{
color: beige;
display: inline-block;
margin: 10px;
cursor: pointer;
}
.ThirdRow{
  box-sizing: content-box;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  background-image: radial-gradient(farthest-corner at 0% 0%,#800020, rgb(172, 67, 67),black);
  font-size:1.5rem;
  font-weight:normal;
  line-height:1.5;
}

.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background-image: radial-gradient(farthest-corner at 0% 0%,#800020, rgb(172, 67, 67),black);
  opacity:0.85;
}

.header-content{
  z-index:2;
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}

.header-content img{
    border-radius: 5px;
    margin-right: 10px;
    float: left;
}

.NavBarSection{
  display:none;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  z-index: 2;
}

.socialMediaDefault{
  float: right;
}


.socialMediaDefault > a > img{
  width: 25px;
  height: 25px;
}

.socialMedia{
  display: inline-block;
  width: 100%;
}

.socialMedia > a > img{
  width: 25px;
  height: 25px;
  margin-left: 15px;
}
.Introduction{
  background-color: rgba(43, 42, 42, 0.6);
  margin-top: 100px;
  padding: 15px;
  border-radius: 15px;
  line-height: 50px;
}

#DefaultNav{
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  z-index: 2;
}

.DefNaBar{
  margin-right: auto;
}

.DefNaBarElement{
  margin: 15px;
  border: 0px;
  background-color:none;
  color: beige;
}

.DefNaBarElement > a{
  color: beige;
}

.DefNaBarElement > a:hover{
  color: beige;
  text-decoration: underline;
}

#contact{
  background-color: rgb(0,0,0, 0);
}
.DefNaBarElement:hover{
  text-decoration: underline;
  cursor: pointer;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
}

.BrefIntro{
  text-align: justify;
  color: beige;
}


#EducationThumbnail{
margin: 2px;
width: 150px;
float: right;
display: block;
}

#CareerThumbnail{
margin: 15px;
width: 300px;
float: left;
display: block;
}

.modal-color{
background-image: radial-gradient(farthest-corner at 0% 0%,#800020, rgb(172, 67, 67),black);
color: beige;
}

.projectsPhotos{
width: 130px;
height: 75px;
border-radius: 10px;
border-left: #ff0342 solid 3px;
border-top: solid #ff0040 3px;
margin-right: 10px;
}

#projectsButton > span{
  cursor: pointer;
  color: beige;
  display: inline;
}

.buttons{
  /* cursor: pointer; */
display: inline-block;
margin: 5px 15px;
border-radius: 15px;
background-color: black;
color: beige;
padding: 10px;
}

.buttons:hover{
  cursor: pointer;
  background-color: #071bce;
}

@media(min-width:1000px){
  .welcome{
    display: block;
  }

  .MainContent{
    display: none;
  }
}

@media(max-width:1000px){
  .welcome{
    display: none;
  }

  .MainContent{
    display: inline-block;
  }
}



@media(max-width:960px){
  body{
    font-size: 0.75rem;
  }
 
  .body{
    padding-right:3rem;
    padding-left:3rem;
  }

  .header-content p{
    font-size:1.25rem;
  }
  


}

@media(max-width: 650px){
  body{
    font-size: 0.75rem;
  }

  #title{
    display: none;
  }
  .header-content img{
    position: relative;
    display: block;
    border-radius: 5px;
  }

  #DefaultNav{
    display: none;
  }

  #navbarText{
    display: block;
    z-index: 2;
  }

  .NaBarElement{
    background-color:none;
    color: beige;
    margin: 2px 5px;
    padding: 10px;
    border-bottom: solid 1px grey;
  }
  .NaBarElement > a{
    color: beige;
  }
  .NaBarElement > a:hover{
    color: beige;
    text-decoration: underline;
  }
  .NaBarElement:hover{
    text-decoration: underline;
  }

  .SecondRow{
    font-size:1rem;
  }

  .ThirdRow{
    font-size: 1rem;
  }

  #EducationThumbnail{
    margin: 15px;
    width: 150px;
    display: block;
  }
  
  #CareerThumbnail{
    margin: 15px;
    width: 150px;
    display: block;
  }
}